@model List<JN.Data.AdminUser>
@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <!-- // Breadcrumb END -->
    <div class="innerLR">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                    </th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th>手机号码</th>
                    <th>角色</th>
                    <th>状态</th>
                    <th>
                        <i class="icon-time bigger-110 hidden-480"></i>
                        创建时间
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {

                        <tr>
                            <td class="center text-muted">
                                @(i + 1)
                            </td>
                            <td>
                                @Model[i].AdminName
                            </td>
                            <td>
                                @Model[i].RealName
                            </td>
                            <td>
                                @Model[i].Phone
                            </td>
                            <td>
                                @*@{
                                    @JN.Data.TAdminRole role = JN.BLL.adminroles.GetModel(Model[i].RoleID);
                                        if (role != null)
                                        {
                                            @role.RoleName
                                    }
                                    }*@
                                管理员
                            </td>
                            <td class="hidden-480">
                                @(Model[i].IsPassed ? "正常" : "冻结")
                            </td>
                            <td>
                                @Model[i].CreateTime
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="@(Url.Action("Modify", new {ID = Model[i].ID}))" class="btn-action glyphicons edit btn-info" data-rel="tooltip" title="编辑">
                                        <i></i>
                                    </a>
                                    @if (Model[i].IsPassed)
                                    {
                                        <a class="btn-action glyphicons lock btn-info" data-value="@Model[i].ID" data-rel="tooltip" title="冻结帐号">
                                            <i></i>
                                        </a>

                                    }
                                    else
                                    {
                                        <a class="btn-action glyphicons unlock btn-info" data-value="@Model[i].ID" data-rel="tooltip" title="解除帐号冻结">
                                            <i></i>
                                        </a>
                                    }
                                    <a data-value="@Model[i].ID" class="btn-action glyphicons remove btn-info qstx" data-rel="tooltip" title="删除" data-placement="top">
                                        <i></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div><!-- /.page-content -->
@section scripts{
    <script type="text/javascript">
    jQuery(function ($) {
       $(".lock").on("click", function () {
                var id = $(this).attr("data-value");
                bootbox.confirm('您确定要冻结该管理员吗?', function (result) {
                    if (result) {
                        $.post('@(Url.Action("MakeLock"))', { id: id}, function (data) {
                            if(data.Status == 200) {
                                alert(data.Message);
                                location.reload();
                               }
                            else{
                                 alert(data.Message);
                            }
                        });
                    }
                });
            });
        });

     $(".unlock").on("click", function () {
                var id = $(this).attr("data-value");
                bootbox.confirm('您确定要激活该管理员吗?', function (result) {
                    if (result) {
                        $.post('@(Url.Action("MakeUnLock"))', { id: id}, function (data) {
                            if(data.Status == 200) {
                                alert(data.Message);
                                location.reload();
                               }
                            else{
                                 alert(data.Message);
                            }
                        });
                    }
                });
            });

        $(".remove").on("click", function () {
                var id = $(this).attr("data-value");
                bootbox.confirm('您确定要删除该管理员吗?', function (result) {
                    if (result) {
                        $.post('@(Url.Action("Delete"))', { id: id}, function (data) {
                            if(data.Status == 200) {
                                alert(data.Message);
                                location.reload();
                               }
                            else{
                                 alert(data.Message);
                            }
                        });
                    }
                });
    })
    </script>
}
