@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<JN.Data.ShopCar>
@{
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <!-- // Breadcrumb END -->
    <div class="innerLR">
        <div class="tabbable">
            <div class="filter-bar margin-bottom-none">
                <form method="get">

                    <!-- Filter -->
                    <div>
                        <select name="datefiled" style="width: 80px;">
                            <option value="CreateTime" @(Request["datefiled"] == "CreateTime" ? "selected" : "")>创建时间</option>
                        </select>
                    </div>
                    <div>
                        <label>从:</label>
                        <div class="input-append">
                            <input type="text" name="dateform" class="input-mini datepicker" value="@Request["dateform"]" style="width: 63px;" />
                            <span class="add-on glyphicons calendar"><i></i></span>
                        </div>
                    </div>
                    <!-- // Filter END -->
                    <!-- Filter -->
                    <div>
                        <label>到:</label>
                        <div class="input-append">
                            <input type="text" name="dateto" class="input-mini datepicker" value="@Request["dateto"]" style="width: 63px;" />
                            <span class="add-on glyphicons calendar"><i></i></span>
                        </div>
                    </div>
                    <!-- // Filter END -->
                    <!-- Filter -->
                    <div style="margin-left:10px">
                        <select name="numberfiled" style="width: 80px;">
                            <option value="Quantity" @(Request["numberfiled"] == "Quantity" ? "selected" : "")>数量</option>
                            <option value="Price" @(Request["numberfiled"] == "Price" ? "selected" : "")>价格</option>
                        </select>
                    </div>
                    <div>
                        <label>从:</label>
                        <div class="input-append">
                            <input type="text" name="numberform" class="input-mini" style="width: 30px;" value="@Request["numberform"]" />
                            <span class="add-on glyphicons euro"><i></i></span>
                        </div>
                    </div>
                    <!-- // Filter END -->
                    <!-- Filter -->
                    <div>
                        <label>到:</label>
                        <div class="input-append">
                            <input type="text" name="numberto" class="input-mini" style="width: 30px;" value="@Request["numberto"]" />
                            <span class="add-on glyphicons euro"><i></i></span>
                        </div>
                    </div>
                    <!-- // Filter END -->
                    <!-- Filter -->
                    <div style="margin-left:10px">
                        <select name="keyfiled" style="width: 80px;">
                            <option value="ShopName" @(Request["keyfiled"] == "BookName" ? "selected" : "")>书名</option>
                            <option value="UserName" @(Request["keyfiled"] == "UserName" ? "selected" : "")>用户名</option>
                            <option value="Tel" @(Request["keyfiled"] == "TelePhone" ? "selected" : "")>手机号码</option>
                            <option value="Address" @(Request["keyfiled"] == "ISBN" ? "selected" : "")>ISBN</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-append">
                            <input type="text" name="keyword" class="input-mini" style="width: 150px;" value="@Request["keyword"]" placeholder="请输入查询关键词" />
                            <span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="使用模糊查询可在关键字前后加上“%”"><i></i></span>
                        </div>
                    </div>
                    <!-- // Filter END -->
                    <!-- Filter -->
                    <div>
                        <input type="hidden" name="IsAsc" value="0" />
                        <input type="hidden" name="OrderFiled" value="ID" />
                        <input type="hidden" name="IsExport" value="0" />
                        <input type="submit" onclick="$('input[name=\'IsExport\']').val(0)" value="查询" />
                        <input type="submit" onclick="$('input[name=\'IsExport\']').val(1)" value="导出" />
                    </div>
                    <div class="clearfix"></div>
                    <!-- // Filter END -->

                </form>

            </div>

            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                        </th>
                        <th>用户名</th>
                        <th>图书名称</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>总金额</th>
                        <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            加入时间
                        </th>
                        <th>备注</th>
                        <th colspan="2" style="text-align:center;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {

                    <tr>
                        <td class="center text-muted">
                            @(i + 1)
                        </td>
                        <td>
                            @Model[i].UserName
                        </td>
                        <td>
                            @Model[i].BookName
                        </td>
                        <td>
                            @Model[i].Amount
                        </td>
                        <td>
                            @Model[i].BookPrice
                        </td>
                        <td>
                            @Model[i].TotalPrice
                        </td>
                        <td class="hidden-480">@Model[i].CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td class="hidden-480">@Model[i].Description</td>

                        <td>

                            <a href="###" data-value="@Model[i].ID" class="btn-action glyphicons delete btn-info del" data-rel="tooltip" title="删除">
                                <i></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>


            <div class="separator top form-inline small">

                <!-- Pagination -->
                @Html.PagedListPager((IPagedList)Model, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                                           JN.Services.Tool.StringHelp.GetQueryString(HttpUtility.ParseQueryString(Request.Url.Query), page)), new PagedListRenderOptions() { ContainerDivClasses = new string[] { "pagination pagination-small pull-right" } })


                <div class="clearfix"></div>
                <!-- // Pagination END -->

            </div><!-- /.table-responsive -->
        </div><!-- /span -->
    </div><!-- /row -->
    <!-- PAGE CONTENT ENDS -->

</div><!-- /.page-content -->
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            $(".del").on("click", function () {
                var id = $(this).attr("data-value");
                bootbox.confirm('您确定要删除该图书吗?', function (result) {
                    if (result) {
                        $.post('@(Url.Action("Delete"))', { id: id}, function (data) {
                            if(data.Status == 200) {
                                alert(data.Message);
                                window.location.reload();
                               }
                            else{
                                 alert(data.Message);
                            }
                        });
                    }
                });
            });
        })
    </script>
}