@{
    string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    var sysEntity = MvcCore.Unity.Get<JN.Data.Service.ISysSettingService>().Single(1);
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 10000);
    JN.Data.User Umodel = null;
    if (JN.Services.UserLoginHelper.CurrentUser() != null)
    {
        Umodel = MvcCore.Unity.Get<JN.Data.Service.IUserService>().Single(JN.Services.UserLoginHelper.CurrentUser().ID);
    }
    else
    {
        Response.Redirect(Url.Action("Index", "Shopping"));
    }
    var BookCategoryData = MvcCore.Unity.Get<JN.Data.Service.IBookCategoryService>().List().OrderBy(x => x.Sort).ThenByDescending(x => x.CreateTime).ToList();
    //用户购物车
    var shopCarData = MvcCore.Unity.Get<JN.Data.Service.IShopCarService>().List(x => x.UID == Umodel.ID).OrderByDescending(x => x.CreateTime).ToList();

    var shopCarTotal = shopCarData.Sum(x=>x.TotalPrice);
}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>@ViewBag.Title</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Boostrap style -->
    <link href="~/Thame/stylesheets/bootstrap.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="~/Thame/stylesheets/style.css" rel="stylesheet" />

    <!-- Reponsive -->
    <link href="~/Thame/stylesheets/responsive.css" rel="stylesheet" />

    <!-- sweetalert -->
    <link href="~/Plugin/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Plugin/sweetalert/sweetalert.min.js"></script>

</head>
<body class="header_sticky">
    <div class="boxed">
        <div class="overlay"></div>
        <!-- Preloader -->
        <div class="preloader">
            <div class="clear-loading loading-effect-2">
                <span></span>
            </div>
        </div><!-- /.preloader -->
        <section id="header" class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @*<ul class="flat-support">
                                    <li>
                                        <a href="#" title="">Support</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Store Locator</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Track Your Order</a>
                                    </li>
                                </ul>*@<!-- /.flat-support -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <ul class="flat-infomation">
                                <li class="phone">
                                    联系我们: <a href="#" title="">(888) 1234 56789</a>
                                </li>
                            </ul><!-- /.flat-infomation -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <ul class="flat-unstyled">
                                <li class="account">
                                    <a href="#" title="">@Umodel.UserName<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="unstyled">
                                        <li>
                                            <a href="#" title="">我的图书</a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html" title="">我的订单</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ShopCar","Shop")" title="">我的购物车</a>
                                        </li>
                                        <li>
                                            <a href="my-account.html" title="">我的账户</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Logout","home")" title="">退出登录</a>
                                        </li>
                                    </ul><!-- /.unstyled -->
                                </li>
                            </ul><!-- /.flat-unstyled -->
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-top -->
            <div class="header-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="logo" class="logo">
                                <a href="@Url.Action("index")" title="">
                                    <img src="~/Thame/images/logos/logo.png" alt="" />
                                </a>
                            </div><!-- /#logo -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-6">
                            <div class="top-search">
                                <form action="@Url.Action("SearchBook")" method="get" class="form-search" accept-charset="utf-8">
                                    <div class="cat-wrap">
                                        <select name="categoryId">
                                            <option value="">全部分类</option>
                                            @foreach (var item in BookCategoryData)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                            @*<option hidden=hidden value="">Cameras</option>
                                                <option hidden=hidden value="">Computer</option>
                                                <option hidden=hidden value="">Laptops</option>*@
                                        </select>
                                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    </div><!-- /.cat-wrap -->
                                    <div class="box-search">
                                        <input type="text" name="KeyWord" placeholder="请输入关键词" />
                                        <span class="btn-search">
                                            <button type="submit" class="waves-effect"><img src="~/Thame/images/icons/search.png" alt="" /></button>
                                        </span>
                                    </div><!-- /.box-search -->
                                </form><!-- /.form-search -->
                            </div><!-- /.top-search -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-3">
                            <div class="box-cart">
                                <div class="inner-box">
                                    <ul class="menu-compare-wishlist">
                                        @*<li class="compare">
                                                <a href="#" title="">
                                                    <img src="~/Thame/images/icons/compare.png" alt="" />
                                                </a>
                                            </li>*@
                                        <li class="wishlist">
                                            <a href="wishlist.html" title="">
                                                <img src="~/Thame/images/icons/wishlist.png" alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="inner-box">
                                    <a href="@Url.Action("ShopCar","Shop")" title="">
                                        <div class="icon-cart">
                                            <img src="~/Thame/images/icons/cart.png" alt="" />
                                            <span>@shopCarData.Count()</span>
                                        </div>
                                        <div class="price">
                                            @shopCarTotal
                                        </div>
                                    </a>
                                    <div class="dropdown-box">
                                        <ul>
                                            @foreach (var item in shopCarData as List<JN.Data.ShopCar>)
                                            {
                                                var bookinfo = MvcCore.Unity.Get<JN.Data.Service.BookInfoService>().Single(x => x.ID == item.BookID /*&& x.BookState == 1*/);
                                                <li>
                                                    <div class="img-product">
                                                        <img src="@bookinfo.ImageUrl" alt="" />
                                                    </div>
                                                    <div class="info-product">
                                                        <div class="name">
                                                            @bookinfo.BookName <br />作者:@bookinfo.Author
                                                        </div>
                                                        <div class="price">
                                                            <span>@item.Amount x</span>
                                                            <span>@bookinfo.CurrentPrice.ToString("F2")</span>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <span class="delete">x</span>
                                                </li>
                                            }

                                            @*<li>
                                                    <div class="img-product">
                                                        <img src="~/Thame/images/product/other/img-cart-2.jpg" alt="" />
                                                    </div>
                                                    <div class="info-product">
                                                        <div class="name">
                                                            Sennheiser - Over-the-Ear Headphone System - Black
                                                        </div>
                                                        <div class="price">
                                                            <span>1 x</span>
                                                            <span>$250.00</span>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <span class="delete">x</span>
                                                </li>*@
                                        </ul>
                                        <div class="total">
                                            <span>总计:</span>
                                            <span class="price">@shopCarTotal 元</span>
                                        </div>
                                        <div class="btn-cart">
                                            <a href="@Url.Action("ShopCar","Shop")" class="view-cart" title="">查看购物车</a>
                                            <a href="@Url.Action("Logout","home")" class="check-out" title="">退出登录</a>
                                        </div>
                                    </div>
                                </div><!-- /.inner-box -->
                            </div><!-- /.box-cart -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-middle -->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-2">
                            <div id="mega-menu">
                                <div class="btn-mega"><span></span>所有分类</div>
                                <ul class="menu">
                                    @foreach (var item in BookCategoryData.Where(x => x.ParentId == "0" || x.ParentId == ""))
                                    {
                                        <li>
                                            <a href="@Url.Action("SearchBook",new {categoryId=item.ID,KeyWord=""})" title="" class="dropdown">
                                                <span class="menu-img">
                                                    @*<img src="~/Thame/images/icons/menu/01.png" alt="">*@
                                                </span>
                                                <span class="menu-title">
                                                    @item.Name
                                                </span>
                                            </a>
                                            <div class="drop-menu" style="width:400px;">
                                                <div class="one-third">
                                                    <div class="cat-title">
                                                        @item.Name
                                                    </div>
                                                    <ul>
                                                        @foreach (var subItem in BookCategoryData.Where(x => x.ParentId == item.ID))
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("SearchBook",new {categoryId=subItem.ID,KeyWord=""})" title="">@subItem.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-9 col-10">
                            <div class="nav-wrap">
                                <div id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li class="column-1">
                                            <a href="@Url.Action("index","shopping")" title="">首页</a>
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a href="@Url.Action("index","shopping")" title="">图书商城</a>
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a href="@Url.Action("Create","shop")" title="发布图书">发布图书</a>
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a href="#" title="">我的发布</a>
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a href="#" title="">公告</a>
                                        </li><!-- /.column-1 -->
                                    </ul><!-- /.menu -->
                                </div><!-- /.mainnav -->
                            </div><!-- /.nav-wrap -->
                            <div class="today-deal">
                                <a href="#" title="">TODAY DEALS</a>
                            </div><!-- /.today-deal -->
                            <div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->
                        </div><!-- /.col-md-9 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-bottom -->
        </section><!-- /#header -->
        @RenderBody();

        <section class="flat-iconbox">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox">
                            <div class="box-header">
                                <div class="image">
                                    <img src="~/Thame/images/icons/car.png" alt="">
                                </div>
                                <div class="box-title">
                                    <h3>快速物流</h3>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>三至四天即可送达</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-3 col-sm-6 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox">
                            <div class="box-header">
                                <div class="image">
                                    <img src="~/Thame/images/icons/order.png" alt="">
                                </div>
                                <div class="box-title">
                                    <h3>在线客服</h3>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>7*24在线问题解答</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-3 col-sm-6 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox">
                            <div class="box-header">
                                <div class="image">
                                    <img src="~/Thame/images/icons/payment.png" alt="">
                                </div>
                                <div class="box-title">
                                    <h3>在线支付</h3>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>在线支付有保障</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-3 col-sm-6 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox">
                            <div class="box-header">
                                <div class="image">
                                    <img src="~/Thame/images/icons/return.png" alt="">
                                </div>
                                <div class="box-title">
                                    <h3>7天无理由</h3>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>7天无理由退换货</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-3 col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-iconbox -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="widget-ft widget-about">
                            <div class="logo logo-ft">
                                <a href="@Url.Action("index")" title="">
                                    <img src="~/Thame/images/logos/logo.png" alt="" />
                                </a>
                            </div><!-- /.logo-ft -->
                        </div><!-- /.widget-about -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-8 col-md-12">
                        <div class="widget-ft widget-about">
                            <div class="widget-content">
                                <div class="icon">
                                    <img src="~/Thame/images/icons/call.png" alt="">
                                </div>
                                <div class="info">
                                    <p class="questions">有问题 ? 找我们 24*7小时</p>
                                    <p class="phone">联系我们: (888) 1234 56789</p>
                                    <p class="address">
                                        地址:广西壮族自治区桂林市七星区 育才路15号--广西师范大学
                                    </p>
                                </div>
                            </div><!-- /.widget-content -->
                        </div><!-- /.widget-about -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer><!-- /footer -->

        <section class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">Copyright &copy; 2017-2050.广西师范大学-职业技术师范学院 All rights reserved.
                        <p class="btn-scroll">
                            <a href="#" title="">
                                <img src="~/Thame/images/icons/top.png" alt="">
                            </a>
                        </p>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.footer-bottom -->

    </div><!-- /.boxed -->
    <!-- Javascript -->
    <script type="text/javascript" src="~/Thame/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/tether.min.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/waypoints.min.js"></script>
    <!-- <script type="text/javascript" src="~/Thame/javascript/jquery.circlechart.js"></script> -->
    <script type="text/javascript" src="~/Thame/javascript/easing.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/smoothscroll.js"></script>
    <!-- <script type="text/javascript" src="~/Thame/javascript/jquery-ui.js"></script> -->
    <script type="text/javascript" src="~/Thame/javascript/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/waves.min.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/jquery.countdown.js"></script>
    <script type="text/javascript" src="~/Thame/javascript/main.js"></script>
    <script src="~/Thame/javascript/view/shopindex.js"></script>

    <script type="text/javascript">

        function AddShopCar(id, value) {
            @*var user = @JN.Services.UserLoginHelper.CurrentUser();
            if (user == null) {
                swal({
                    title: "温馨提示",
                    text: data.Message,
                    type: "warning",
                    showCancelButton: false,
                    confirmButtonText: "确定",
                    closeOnConfirm: true
                });
                ShowLogin();
                return
            }*@
            if (value == null || value == "") {
                value = 1;
            }
            $.post('@Url.Action("AddShopCar", "Shop")', { id: id, amount:value }, function (data) {
                if (data.Status == 200) {
                    swal({
                        title: "温馨提示",
                        text: data.Message,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "确定",
                        closeOnConfirm: true
                    }, function () {
                        //window.location.reload();
                        });
                }
                else {
                    swal({
                        title: "温馨提示",
                        text: data.Message,
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonText: "确定",
                        closeOnConfirm: true
                    });
                }
            });
        }
    </script>
</body>
</html>
