@model JN.Data.BookCategory
@{
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
    var list = MvcCore.Unity.Get<JN.Data.Service.IBookCategoryService>().List().ToList();//查找顶级
}

<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    @if (Model != null)
    {
        <div class="innerLR">
            <div class="col-xs-12">
                @*@using (Ajax.BeginForm("ModifyProductClass", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "AfterEdit" }, new { id = "frmSet" }))
                    {*@
                <form id="validation-form" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <table class="niunantab">
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>

                            <td>上级分类</td>
                            <td>
                                <select name="catePid" >
                                    <option value="0">顶级分类</option>
                                    @{
                    if (list != null)
                    {
                        foreach (var cate in list)
                        {
                            if (cate.ID == Model.ID)
                            {
                                continue;
                            }
                            <option value="@cate.ID" @(Model != null && Model.ParentId == cate.ID ? "selected" : "")>@cate.Name</option>
    }
}
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td>分类名称</td>
                            <td><input type="text" name="Name" value="@Model.Name" /></td>
                            <td><input type="hidden" name="Id" value="@Model.ID" /></td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td>分类图片</td>
                            <td>
                                <img src="@Model.CateImg" id="classimg" style="width:90px; height:90px;" />
                                <input type="file" name="imgurl" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td>分类排序</td>
                            <td><input type="text" name="Sort" value="@Model.Sort" /></td>
                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input name="Submit" type="submit" class="btn" value="提交" /></td>
                        </tr>
                    </table>
                </form>
                @*}*@
            </div>
        </div>
    }

</div>
@section scripts{
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    @*<script>
            //提交后返回结果
            function AfterEdit(data) {
                if (data.Status == 200) {
                    alert("操作成功！");
                    window.location.reload();
                }
                else {
                    alert(data.Message);
                }
            }
        </script>*@

}
