@model JN.Data.BookInfo
@{
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "编辑图书";
}
<!-- Content -->
<div id="content">
    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")" class="glyphicons home"><i></i> 首页</a></li>
        <li class="divider"></li>
        <li>@ViewBag.Title</li>
    </ul>
    <div class="separator bottom"></div>
    <!-- // Breadcrumb END -->
    <div class="innerLR">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form id="validation-form" class="form-horizontal" enctype="multipart/form-data" method="post" action="@Url.Action("Modify")" onsubmit="return BeforePost()">
                <input type="text"  name="ID" value="@Model.ID" class="form-control hidden" />
                <div class="control-group">
                    <label class="control-label"></label>
                </div>
                <div class="control-group">
                    <label class="control-label" for="BookCategoryId">所属分类</label>
                    <div class="controls">
                        <div class="clearfix">
                            @Html.DropDownList("BookCategoryId", ViewData["BookCategory"] as SelectList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="BookName">图书名称</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="BookName" value="@Model.BookName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Author">作者</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="Author" value="@Model.Author" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <label class="control-label" for="AuthorIntroduction">作者简介</label>

                    <div class="controls">
                        <div class="clearfix">
                            <textarea name="AuthorIntroduction" class=" span5" rows="4">@Model.AuthorIntroduction</textarea>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="realname">图书封面</label>
                    <div class="controls">
                        <div class="clearfix">
                            <img src="@Model.ImageUrl" id="ImageUrl" height="80" />
                            <input type="file" name="ImageUrl" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ISBN">ISBN码</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="ISBN" value="@Model.ISBN" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Publisher">出版社</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="Publisher" value="@Model.Publisher" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Version">版本</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="Version" value="@Model.Version" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="PrintDate">印刷日期</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="date" name="PrintDate" value="@Model.PrintDate"  class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Spec">规格</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="Spec" value="@Model.Spec" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="PageCount">页数</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="PageCount" value="@Model.PageCount" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="WordCount">字数</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="WordCount" value="@Model.WordCount" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="OlaPrice">原价</label>
                    <div class="controls">
                        <div class="input-group">
                            <input type="text" name="OlaPrice" placeholder="每本的价格（单位元）" value="@Model.OlaPrice" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="CurrentPrice">售价</label>
                    <div class="controls">
                        <div class="input-group">
                            <input type="text" name="CurrentPrice" value="@Model.CurrentPrice" placeholder="每本的价格（单位元）" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="FreightPrice">运费</label>

                    <div class="controls">
                        <div class="input-group">
                            <input type="text" name="FreightPrice" placeholder="单位元" style="width:250px" value="@Model.FreightPrice" class="form-control" />
                            <span style="line-height:30px; padding-left:10px"> *包邮请填“0”</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="BookCount">数量</label>

                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="BookCount" value="@Model.BookCount" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <label class="control-label" for="bankcard">图书简介</label>
                    <div class="controls">
                        <div class="clearfix">
                            <textarea name="Introduction" class=" span5" rows="4">@Model.Introduction</textarea>
                        </div>
                    </div>
                </div>

                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <label class="control-label" for="Catalog">目录</label>

                    <div class="controls">
                        <div class="clearfix">
                            <textarea name="Catalog" class=" span5" rows="4">@Model.Catalog</textarea>
                        </div>
                    </div>
                </div>
                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <label class="control-label" for="Preface">前言</label>

                    <div class="controls">
                        <div class="clearfix">
                            <textarea name="Preface" class=" span5" rows="4">@Model.Preface</textarea>
                        </div>
                    </div>
                </div>

                <!--译者 信息 start-->
                <div class="control-group">
                    <label class="control-label">是否译本</label>
                    <div class="controls">
                        <div>
                            <input name="IsTranslate" value="true" type="radio" class="ace" />
                            <span class="lbl"> 是</span>
                            <input name="IsTranslate" value="false" checked="checked" type="radio" class="ace" />
                            <span class="lbl"> 否</span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Translator">译者</label>
                    <div class="controls">
                        <div class="clearfix">
                            <input type="text" name="Translator" value="@Model.Translator" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="hr hr-dotted "></div>
                <div class="control-group">
                    <label class="control-label" for="TranslatorIntroduction">译者简介</label>

                    <div class="controls">
                        <div class="clearfix">
                            <textarea name="TranslatorIntroduction" class="span5" rows="4">@Model.TranslatorIntroduction</textarea>
                        </div>
                    </div>
                </div>
                <!--译者 end-->
                <div class="hr hr-dotted"></div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">
                            保存
                        </button>

                        <a href="javascript:history.go(-1);" class="btn btn-grey">
                            <i class="icon-arrow-left"></i>
                            返 回
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <!-- page specific plugin styles -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script type="text/javascript">
           $(document).ready(function() {
           $("#validation-form").ajaxForm(function(data){
               if(data.Status==200)
               {
                  alert(data.Message);
                   window.location.href="/AdminCenter/shop/BookList";
               }
        else{
          alert(data.Message);
            }
           });
    });
        function BeforePost()
        {
            var BookCategoty= $("select[name='BookCategotyId']").val();
           if(BookCategoty==""){
              alert("请选择分类");
              $("select[name='BookCategotyId']").focus();
              return false;

          }

           var name= $("input[name='BookName']").val();
           if(name==""){
              alert("图书名称不能为空");
              $("input[name='BookName']").focus();
              return false;

          }
         var Author= $("input[name='Author']").val();
           if(Author==""){
              alert("作者不能为空");
              $("input[name='Author']").focus();
             return false;
          }
        var ISBN= $("input[name='ISBN']").val();
           if(ISBN==""){
              alert("ISBN不能为空");
             $("input[name='ISBN']").focus();
             return false;

          }
         var PrintDate= $("input[name='PrintDate']").val();
           if(PrintDate==""){
              alert("印刷日期不能为空");
              $("input[name='PrintDate']").focus();
              return false;

          }

         var OlaPrice= $("input[name='OlaPrice']").val();
           if(OlaPrice==""){
              alert("请输入原价");
               $("input[name='OlaPrice']").focus();
              return false;
          }

         var CurrentPrice= $("input[name='CurrentPrice']").val();
           if(CurrentPrice==""){
              alert("请输入售价");
               $("input[name='CurrentPrice']").focus();
              return false;
          }

         var FreightPrice= $("input[name='FreightPrice']").val();
           if(FreightPrice==""){
              alert("请输入运费");
               $("input[name='FreightPrice']").focus();
              return false;
            }
            var bookcount = $("input[name='BookCount']").val();
            if (parseInt(bookcount) <= 0) {
                alert("请输入正确的数量");
                $("input[name='BookCount']").focus();
                return false;
            }
        }
    </script>
}