@model JN.Data.BookInfo
@{
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Layout = "~/Areas/UserCenter/Views/Shared/_NoLoginLayout.cshtml";
    }
    else
    {
        Layout = "~/Areas/UserCenter/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "图书详细";
}
<section class="flat-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs">
                    <li class="trail-item">
                        <a href="@Url.Action("index")" title="">首页</a>
                        <span><img src="/images/icons/arrow-right.png" alt=""></span>
                    </li>
                </ul><!-- /.breacrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-breadcrumb -->

<section class="flat-product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@Model.ImageUrl">
                            <img src="@Model.ImageUrl" alt="image slider" />
                            <span>NEW</span>
                        </li>
                        <li data-thumb="@Model.ImageUrl">
                            <img src="@Model.ImageUrl" alt="image slider" />
                        </li>
                        <li data-thumb="@Model.ImageUrl">
                            <img src="@Model.ImageUrl" alt="image slider" />
                            <span>NEW</span>
                        </li>
                        <li data-thumb="@Model.ImageUrl">
                            <img src="@Model.ImageUrl" alt="image slider" />
                        </li>
                        <li data-thumb="@Model.ImageUrl">
                            <img src="@Model.ImageUrl" alt="image slider" />
                        </li>
                    </ul><!-- /.slides -->
                </div><!-- /.flexslider -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="product-detail">
                    <div class="header-detail">
                        <h4 class="name">@Model.BookName</h4>
                        <div class="category">
                            作者: @Model.Author
                        </div>
                        <div class="reviewed">
                            <div class="review">
                                <div class="queue">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                @*<div class="text">
                                        <span>3 Reviews</span>
                                        <span class="add-review">Add Your Review</span>
                                    </div>*@
                            </div><!-- /.review -->
                            <div class="status-product">
                                现存数量: <span>@Model.BookCount</span>
                            </div>
                        </div><!-- /.reviewed -->
                    </div><!-- /.header-detail -->
                    <div class="content-detail">
                        <div class="price">
                            <div class="regular">
                                原价:@Model.OlaPrice.ToString("F2") 元
                            </div>
                            <div class="sale">
                                现价:@Model.CurrentPrice.ToString("F2") 元
                            </div>
                        </div>
                        <div class="info-text">
                            @Model.Description
                        </div>
                        <div class="product-id">
                            发布者: <span class="id">@Model.UserName</span>
                        </div>
                    </div><!-- /.content-detail -->
                    <div class="footer-detail">
                        <div class="quanlity-box">
                            @*<div class="colors">
                                    <select name="color">
                                        <option value="">Select Color</option>
                                        <option value="">Black</option>
                                        <option value="">Red</option>
                                        <option value="">White</option>
                                    </select>
                                </div>*@
                            <div class="quanlity">
                                <span class="btn-down"></span>
                                <input type="text" name="number" value="1" min="1" max="@Model.BookCount" id="number" placeholder="购买数量">
                                <span class="btn-up"></span>
                            </div>
                        </div><!-- /.quanlity-box -->
                        <div class="box-cart style2">
                            <div class="btn-add-cart">
                                <a href="javascript:addCar('@Model.ID')" title="加入购物车"><img src="images/icons/add-cart.png" alt="">加入购物车</a>
                            </div>
                        </div><!-- /.box-cart -->
                    </div><!-- /.footer-detail -->
                </div><!-- /.product-detail -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-product-detail -->

<section class="flat-product-content">
    <ul class="product-detail-bar">
        <li class="active">图书介绍</li>
        <li>基本信息</li>
        <li>留言</li>
    </ul><!-- /.product-detail-bar -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description-text">
                    <div class="box-text">
                        <h4>图书简介</h4>
                        <p>@Model.Introduction</p>
                    </div>
                    <div class="box-text wireless">
                        <h4>目录</h4>
                        <p>@Model.Catalog</p>
                    </div>
                    <div class="box-text design">
                        <h4>前言</h4>
                        <p>@Model.Preface</p>
                    </div>
                    <div class="box-text sound">
                        <h4>作者:@Model.Author 简介</h4>
                        <p>@Model.AuthorIntroduction</p>
                    </div>
                    <div class="box-text sound">
                        <h4>译者:@Model.Translator 简介</h4>
                        <p>@Model.TranslatorIntroduction</p>
                    </div>
                </div><!-- /.description-text -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="tecnical-specs">
                    <h4 class="name">
                        @Model.BookName
                    </h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    ISBN码
                                </td>
                                <td>@Model.ISBN</td>
                            </tr>
                            <tr>
                                <td>出版社</td>
                                <td>@Model.Publisher</td>
                            </tr>
                            <tr>
                                <td>
                                    版本
                                </td>
                                <td>@Model.Version</td>
                            </tr>
                            <tr>
                                <td>
                                    印刷日期
                                </td>
                                <td>@Model.PrintDate</td>
                            </tr>
                            <tr>
                                <td>
                                    规格
                                </td>
                                <td>@Model.Spec</td>
                            </tr>
                            <tr>
                                <td>
                                    页数
                                </td>
                                <td>@Model.PageCount</td>
                            </tr>
                            <tr>
                                <td>
                                    字数
                                </td>
                                <td>@Model.WordCount</td>
                            </tr>
                            <tr>
                                <td>
                                    是否译本
                                </td>
                                <td>
                                    @{
                                        var str = @Model.IsTranslate == true ? "是" : "否";
                                    }@str
                                </td>
                            </tr>
                        </tbody>
                    </table><!-- /.table -->
                </div><!-- /.tecnical-specs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <div class="rating">
                    <div class="title">
                        Based on 3 reviews
                    </div>
                    <div class="score">
                        <div class="average-score">
                            <p class="numb">4.3</p>
                            <p class="text">Average score</p>
                        </div>
                        <div class="queue">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div><!-- /.score -->
                    <ul class="queue-box">
                        <li class="five-star">
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="numb-star">3</span>
                        </li><!-- /.five-star -->
                        <li class="four-star">
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="numb-star">4</span>
                        </li><!-- /.four-star -->
                        <li class="three-star">
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="numb-star">3</span>
                        </li><!-- /.three-star -->
                        <li class="two-star">
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="numb-star">2</span>
                        </li><!-- /.two-star -->
                        <li class="one-star">
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="numb-star">0</span>
                        </li><!-- /.one-star -->
                    </ul><!-- /.queue-box -->
                </div><!-- /.rating -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="form-review">
                    <div class="title">
                        Add a review
                    </div>
                    <div class="your-rating queue">
                        <span>Your Rating</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get" accept-charset="utf-8">
                        <div class="review-form-name">
                            <input type="text" name="name-author" value="" placeholder="Name">
                        </div>
                        <div class="review-form-email">
                            <input type="text" name="email-author" value="" placeholder="Email">
                        </div>
                        <div class="review-form-comment">
                            <textarea name="review-text" placeholder="Your Name"></textarea>
                        </div>
                        <div class="btn-submit">
                            <button type="submit">Add Review</button>
                        </div>
                    </form>
                </div><!-- /.form-review -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-12">
                <ul class="review-list">
                    <li>
                        <div class="review-metadata">
                            <div class="name">
                                Ali Tufan : <span>April 3, 2016</span>
                            </div>
                            <div class="queue">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div><!-- /.review-metadata -->
                        <div class="review-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                        </div><!-- /.review-content -->
                    </li>
                    <li>
                        <div class="review-metadata">
                            <div class="name">
                                Peter Tufan : <span>April 3, 2016</span>
                            </div>
                            <div class="queue">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div><!-- /.review-metadata -->
                        <div class="review-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                        </div><!-- /.review-content -->
                    </li>
                    <li>
                        <div class="review-metadata">
                            <div class="name">
                                Jon Tufan : <span>April 3, 2016</span>
                            </div>
                            <div class="queue">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div><!-- /.review-metadata -->
                        <div class="review-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                        </div><!-- /.review-content -->
                    </li>
                </ul><!-- /.review-list -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-product-content -->
<script src="~/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function addCar(id) {
        var count = $("#number").val();
        if (count == 0 || count == "0" || count == "") {
            swal({
                title: "温馨提示",
                text: '请选择正确的数量',
                type: "success",
                showCancelButton: false,
                confirmButtonText: "确定",
                closeOnConfirm: true
            });
            return false;
        }
        AddShopCar(id, count);
    }
    $(document).ready(function () {
    var max=parseInt(@Model.BookCount);
         $(".btn-up").on("click", function () {
            if(parseInt($("input[name='number']").val())<max)
            {
                $("input[name='number']").val(parseInt($("input[name='number']").val())+1);
            }

            });
            $(".btn-down").on("click", function () {
               if(parseInt($("input[name='number']").val())>=2){
                  $("input[name='number']").val(parseInt($("input[name='number']").val())-1);
               }

            });
    });
</script>