@using PagedList.Mvc;
@using PagedList;
@{
    if (JN.Services.UserLoginHelper.CurrentUser() == null)
    {
        Layout = "~/Areas/UserCenter/Views/Shared/_NoLoginLayout.cshtml";
    }
    else
    {
        Layout = "~/Areas/UserCenter/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "职师二手图书网";
    var BookCategoryData = MvcCore.Unity.Get<JN.Data.Service.IBookCategoryService>().List().OrderBy(x => x.Sort).ThenByDescending(x => x.CreateTime).ToList();
}
<div class="bodyMain">
    <section class="flat-row flat-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="slider owl-carousel">
                        <!-- 加载幻灯区图书信息 -->
                        @foreach (var item in MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
                            ().List(/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(6).ToList())
                        {
                            <div class="slider-item">
                                <div class="item-text">
                                    <div class="header-item">
                                        <p>作者:<span>@item.Author</span></p>
                                        <h2 class="name">@item.BookName</h2>
                                        <p>
                                            @item.Introduction
                                        </p>
                                    </div>
                                    <div class="divider65"></div>
                                    <div class="content-item">
                                        <div class="price">
                                            <span class="sale">现价: @item.CurrentPrice.ToString("F2") 元</span>
                                            <span class="btn-shop">
                                                <a href="@Url.Action("BookDetail", new { id = @item.ID })" title="">查看<img src="~/Thame/images/icons/right-2.png" alt=""></a>
                                            </span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="regular">
                                            原价:@item.OlaPrice.ToString("F2") 元
                                        </div>
                                    </div>
                                </div>
                                <div class="item-image">
                                    @*<div class="sale-off">
                                            数量<span>@item.BookCount</span>
                                        </div>*@
                                    <img src="@item.ImageUrl" alt="@item.BookName">
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.slider -->
                        }
                    </div><!-- /.slider -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-slider -->

    <section class="flat-imagebox">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-list">
                            @foreach (var item in BookCategoryData)
                            {
                                <li>@item.Name</li>
                            }
                        </ul>
                    </div><!-- /.product-tab -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="box-product">
                @foreach (var cate in BookCategoryData)
                {
                    <div class="row">
                        @foreach (var item in MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
                            ().List(x => x.BookCategoryId == cate.ID/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(8).ToList())
                        {

                            <div class="col-lg-3 col-sm-3">
                                <div class="product-box">
                                    <div class="imagebox">
                                        @*<span class="item-new">NEW</span>*@
                                        <ul class="box-image owl-carousel-1">
                                            <li>
                                                <a href="@Url.Action("BookDetail", new { id = @item.ID })" title="@item.BookName" target="_blank">
                                                    <img src="~/Thame/images/product/other/01.jpg" alt="@item.BookName">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("BookDetail", new { id = @item.ID })" title="@item.BookName" target="_blank">
                                                    <img src="~/Thame/images/product/other/01.jpg" alt="@item.BookName">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("BookDetail", new { id = @item.ID })" title="@item.BookName" target="_blank">
                                                    <img src="~/Thame/images/product/other/01.jpg" alt="@item.BookName">
                                                </a>
                                            </li>
                                            @*<li>
                                                    <a href="#" title="@item.BookName">
                                                        <img src="@item.ImageUrl" alt="@item.BookName">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <img src="@item.ImageUrl" alt="@item.BookName">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <img src="@item.ImageUrl" alt="@item.BookName">
                                                    </a>
                                                </li>*@
                                        </ul><!-- /.box-image -->
                                        <div class="box-content">
                                            <div class="cat-name">
                                                <a href="#" title="">发布者:@item.UserName</a>
                                            </div>
                                            <div class="product-name">
                                                <a href="@Url.Action("BookDetail", new { id = @item.ID })" title="@item.BookName" target="_blank">
                                                    @item.BookName (@item.Version)<br /> 出版社:@item.Publisher
                                                </a>
                                            </div>
                                            <div class="price">
                                                <span class="sale">现价:@item.CurrentPrice.ToString("F2")元</span>
                                                <span class="regular">原价:@item.OlaPrice.ToString("F2")元</span>
                                            </div>
                                        </div><!-- /.box-content -->
                                        <div class="box-bottom">
                                            <div class="btn-add-cart">
                                                <a href="javascript:AddShopCar('@item.ID',1)" title="加入购物车">
                                                    <img src="~/Thame/images/icons/add-cart.png" alt="">加入购物车
                                                </a>
                                            </div>
                                            @*<div class="compare-wishlist">
                                                    <a href="#" class="compare" title="">
                                                        <img src="~/Thame/images/icons/compare.png" alt="">Compare
                                                    </a>
                                                    <a href="#" class="wishlist" title="">
                                                        <img src="~/Thame/images/icons/wishlist.png" alt="">Wishlist
                                                    </a>
                                                </div>*@
                                        </div><!-- /.box-bottom -->
                                    </div><!-- /.imagebox -->
                                </div>
                            </div>

                        }
                    </div><!-- /.row -->
                }
            </div><!-- /.box-product -->
        </div><!-- /.container -->
    </section><!-- /.flat-imagebox -->

    <section class="flat-imagebox style1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-row-title">
                        <h3>热卖图书</h3>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row ">
                <div class="col-md-12 owl-carousel-10">
                    @{
                        var bookdata = MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
                ().List(/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(30).ToList();
                    }

                    @for (int j = 0; j < bookdata.Count / 2; j++)
                    {
                        <div class="owl-carousel-item">
                            <div class="product-box style1">
                                <div class="imagebox style1">
                                    <div class="box-image">
                                        <a href="@Url.Action("BookDetail", new { id = @bookdata[j].ID })" title="" target="_blank">
                                            <img src="~/Thame/images/product/other/s01.jpg" alt="">
                                        </a>
                                    </div><!-- /.box-image -->
                                    <div class="box-content">
                                        <div class="cat-name">
                                            <a href="@Url.Action("BookDetail", new { id = @bookdata[j].ID })" title="@bookdata[j].Author" target="_blank">作者:@bookdata[j].Author</a>
                                        </div>
                                        <div class="product-name">
                                            <a href="@Url.Action("BookDetail", new { id = @bookdata[j].ID })" title="" target="_blank">@bookdata[j].BookName<br />@bookdata[j].Version</a>
                                        </div>
                                        <div class="price">
                                            <span class="regular">原价:@bookdata[j].OlaPrice.ToString("F2") 元</span>
                                            <span class="sale">现价:@bookdata[j].CurrentPrice.ToString("F2") 元</span>
                                        </div>
                                    </div><!-- /.box-content -->
                                    <div class="box-bottom">
                                        <div class="compare-wishlist">
                                            <a href="#" class="compare" title="">
                                                <img src="~/Thame/images/icons/compare.png" alt="">Compare
                                            </a>
                                            <a href="#" class="wishlist" title="">
                                                <img src="~/Thame/images/icons/wishlist.png" alt="">Wishlist
                                            </a>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="javascript:AddShopCar('@bookdata[j].ID',1)" title="加入购物车">
                                                <img src="~/Thame/images/icons/add-cart.png" alt="">加入购物车
                                            </a>
                                        </div>
                                    </div><!-- /.box-bottom -->
                                </div><!-- /.imagebox style1 -->
                            </div><!-- /.product-box style1 -->

                            <div class="product-box style1">
                                <div class="imagebox style1">
                                    <div class="box-image">
                                        <a href="@Url.Action("BookDetail", new { id = @bookdata[j + (bookdata.Count / 2)].ID })" title="@bookdata[j + (bookdata.Count / 2)].BookName" target="_blank">
                                            <img src="~/Thame/images/product/other/s01.jpg" alt="">
                                        </a>
                                    </div><!-- /.box-image -->
                                    <div class="box-content">
                                        <div class="cat-name">
                                            <a href="@Url.Action("BookDetail", new { id = @bookdata[j + (bookdata.Count / 2)].ID })" title="" target="_blank">作者:@bookdata[j + (bookdata.Count / 2)].Author</a>
                                        </div>
                                        <div class="product-name">
                                            <a href="@Url.Action("BookDetail", new { id = @bookdata[j + (bookdata.Count / 2)].ID })" title="@bookdata[j + (bookdata.Count / 2)].BookName" target="_blank">@bookdata[j + (bookdata.Count / 2)].BookName<br />@bookdata[j + (bookdata.Count / 2)].Version</a>
                                        </div>
                                        <div class="price">
                                            <span class="regular">原价:@bookdata[j + (bookdata.Count / 2)].OlaPrice.ToString("F2") 元</span>
                                            <span class="sale">现价:@bookdata[j + (bookdata.Count / 2)].CurrentPrice.ToString("F2") 元</span>
                                        </div>
                                    </div><!-- /.box-content -->
                                    <div class="box-bottom">
                                        <div class="compare-wishlist">
                                            <a href="#" class="compare" title="">
                                                <img src="~/Thame/images/icons/compare.png" alt="">Compare
                                            </a>
                                            <a href="#" class="wishlist" title="">
                                                <img src="~/Thame/images/icons/wishlist.png" alt="">Wishlist
                                            </a>
                                        </div>
                                        <div class="btn-add-cart">
                                            <a href="javascript:AddShopCar('@bookdata[j + (bookdata.Count / 2)]'.ID,1)" title="加入购物车">
                                                <img src="~/Thame/images/icons/add-cart.png" alt="">加入购物车
                                            </a>
                                        </div>
                                    </div><!-- /.box-bottom -->
                                </div><!-- /.imagebox style1 -->
                            </div><!-- /.product-box style1 -->
                        </div><!-- /.owl-carousel-item -->
                    }
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-imagebox style1 -->

    <section class="flat-imagebox style4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-row-title">
                        <h3>必看图书</h3>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-3">

                        @foreach (var item in MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
().List(/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(30).ToList())
                        {
                            <div class="imagebox style4">
                                <div class="box-image">
                                    <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">
                                        <img src="~/Thame/images/product/other/09.jpg" alt="">
                                    </a>
                                </div><!-- /.box-image -->
                                <div class="box-content">
                                    <div class="cat-name">
                                        <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.Author">作者:@item.Author</a>
                                    </div>
                                    <div class="product-name">
                                        <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">@item.BookName<br />@item.Version</a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">现价:@item.CurrentPrice.ToString("F2") 元</span>
                                        <span class="regular">@item.OlaPrice.ToString("F2")元</span>
                                    </div>
                                </div><!-- /.box-content -->
                            </div><!-- /.imagebox style4 -->
                        }

                    </div><!-- /.owl-carousel-3 -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-imagebox style4 -->

    <section class="flat-highlights">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="flat-row-title">
                        <h3>月排行</h3>
                    </div>
                    <ul class="product-list style1">
                        @foreach (var item in MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
().List(/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(3).ToList())
                        {
                            <li>
                                <div class="img-product">
                                    <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">
                                        <img src="~/Thame/images/product/highlights/10.jpg" alt="@item.BookName">
                                    </a>
                                </div>
                                <div class="info-product">
                                    <div class="name">
                                        <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">@item.BookName (@item.Version)</a>
                                    </div>
                                    <div class="queue">
                                        <p>作者:@item.Author</p>
                                        <p>出版社:@item.Publisher</p>
                                    </div>
                                    <div class="price">
                                        <span class="sale">现价:@item.CurrentPrice.ToString("F2") 元</span>
                                        <span class="regular">@item.OlaPrice.ToString("F2")元</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        }

                    </ul><!-- /.product-list style1 -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="flat-row-title">
                        <h3>周排行</h3>
                    </div>
                    <ul class="product-list style1">
                        @foreach (var item in MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
().List(/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(3).ToList())
                        {
                            <li>
                                <div class="img-product">
                                    <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">
                                        <img src="~/Thame/images/product/highlights/3.jpg" alt="@item.BookName">
                                    </a>
                                </div>
                                <div class="info-product">
                                    <div class="name">
                                        <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">@item.BookName (@item.Version)</a>
                                    </div>
                                    <div class="queue">
                                        <p>作者:@item.Author</p>
                                        <p>出版社:@item.Publisher</p>
                                    </div>
                                    <div class="price">
                                        <span class="sale">现价:@item.CurrentPrice.ToString("F2") 元</span>
                                        <span class="regular">@item.OlaPrice.ToString("F2")元</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        }
                    </ul>
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="flat-row-title">
                        <h3>日排行</h3>
                    </div>
                    <ul class="product-list style1">
                        @foreach (var item in MvcCore.Unity.Get<JN.Data.Service.IBookInfoService>
().List(/*x => x.BookState == 1 && x.ShowPlace == 4*/).OrderBy(x => x.IsTop).ThenByDescending(x => x.CreateTime).Take(3).ToList())
                        {
                            <li>
                                <div class="img-product">
                                    <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">
                                        <img src="~/Thame/images/product/highlights/11.jpg" alt="@item.BookName">
                                    </a>
                                </div>
                                <div class="info-product">
                                    <div class="name">
                                        <a href="@Url.Action("BookDetail", new { id = item.ID })" title="@item.BookName" target="_blank">@item.BookName (@item.Version)</a>
                                    </div>
                                    <div class="queue">
                                        <p>作者:@item.Author</p>
                                        <p>出版社:@item.Publisher</p>
                                    </div>
                                    <div class="price">
                                        <span class="sale">现价:@item.CurrentPrice.ToString("F2") 元</span>
                                        <span class="regular">@item.OlaPrice.ToString("F2")元</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        }
                    </ul>
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-highlights -->
</div>